{% extends 'store/main.html' %}
{% load static %}
{% block content %}

     <div class="p-4">
          <h5><em>What do we do?</em></h5>

          <p> This store was formed to solve the problem of biding of afforadable goods and services for businesses while promoting entreprenuership of traders and the abiity to directly contribute to the businesses through venture capitalism aimed mostly at SMEs and MMEs</p>
     </div>
          

     <div class="p-4">
          <h5><em> Why do we do it?</em></h5>

          <p> This store was formed to solve the problem of biding of afforadable goods and services for businesses while promoting entreprenuership of traders and the abiity to directly contribute to the businesses through venture capitalism aimed mostly at SMEs and MMEs
          </p>
     </div>   

     
     <div class="p-4">
          <h5><em> How we do it?</em></h5>

          <p> This store was formed to solve the problem of biding of afforadable goods and services for businesses while promoting entreprenuership of traders and the abiity to directly contribute to the businesses through venture capitalism aimed mostly at SMEs and MMEs </p>
     </div>
     


     <div class="p-4">
          <h5><em>Is it important?</em></h5>

          <p> This store was formed to solve the problem of biding of afforadable goods and services for businesses while promoting entreprenuership of traders and the abiity to directly contribute to the businesses through venture capitalism aimed mostly at SMEs and MMEs </p>
     </div>
     

     <h4>Getting started</h4>

     <p> This store was formed to solve the problem of biding of afforadable goods and services for businesses while promoting entreprenuership of traders and the abiity to directly contribute to the businesses through venture capitalism aimed mostly at SMEs and MMEs <p></p>
     

{% endblock content %}