{% extends 'store/main.html' %}
{% load static %}
{% block content %}

	<!-- Carousel -->

	<div class="carousel-item">
	 	<img src="..." alt="...">
	 	<div class="carousel-caption d-none d-md-block">
			<h5>...</h5>
	    		<p>...</p>
	  	</div>
	</div>


     <div class="row">
          <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/placeholder.png' %}">
               <div class="box-element product">
				   <h6><strong>Product</strong></h6>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
               </div>
	      </div>

	      <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/placeholder.png' %}">
		       <div class="box-element product">
				   <h6><strong>Product</strong></h6>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
		       </div>
	      </div>

	      <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/placeholder.png' %}">
		       <div class="box-element product">
				   <h6><strong>Product</strong></h6>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h4 style="display: inline-block; float:right"><strong>$20</strong></h4>
		       </div>
	      </div>
     </div>
{% endblock content %}