{% extends 'store/main.html' %}
{% load static %}
{% block content %}

	<div class="row" style="margin-bottom:5%; margin-top: 5%;">
		<div class="col-lg-5">
					<strong class="display-4" style="font-size: 26px; margin-left: 0;"> Good morning, <span style="text-decoration-color: purple;"> welcome </span> to the store.</strong>
					<!-- <p><em>Thank you for choosing five and dime.</em></p>	-->
		</div>
	</div>

	<div class="row">
          <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/1.jpeg' %}"><br></br>
               <div class="box-element product">
				   <strong>Product: Ladies Blouse</strong>
				   <p>Size: Small</p>
				   <strong>In Stock</strong>
				   <em><p>(delivery within Nairobi CBD)</em></p>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h5 style="display: inline-block; float:right"><strong>Ksh. 150</strong></h5>
               </div>
	      </div>

	      <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/2.jpeg' %}"><br></br>
		       <div class="box-element product">
				   <strong>Product: Jumpsuite</strong>
				   <p>Size: Small</p>
				   <strong>In Stock</strong>
				   <em><p>(delivery within Nairobi CBD)</em></p>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h5 style="display: inline-block; float:right"><strong>Ksh. 300</strong></h5>
		       </div>
	      </div>

	      <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/3.jpeg' %}"><br></br>
		       <div class="box-element product">
				   <strong>Product: Geometric pattern Dress</strong>
				   <p>Size: Small</p>
				   <strong>In Stock</strong>
				   <em><p>(delivery within Nairobi CBD)</em></p>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h5 style="display: inline-block; float:right"><strong>Ksh. 600</strong></h5>
		       </div>
	      </div>
     </div>

     <div class="row">
          <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/4.jpeg' %}"><br></br>
               <div class="box-element product">
				   <strong>Product: Ladies Blouse</strong>
				   <p>Size: Small</p>
				   <strong>In Stock</strong>
				   <em><p>(delivery within Nairobi CBD)</em></p>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h5 style="display: inline-block; float:right"><strong>Ksh. 150</strong></h5>
               </div>
	      </div>

	      <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/5.jpeg' %}"><br></br>
		       <div class="box-element product">
				   <strong>Product: Jumpsuite</strong>
				   <p>Size: Small</p>
				   <strong>In Stock</strong>
				   <em><p>(delivery within Nairobi CBD)</em></p>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h5 style="display: inline-block; float:right"><strong>Ksh. 300</strong></h5>
		       </div>
	      </div>

	      <div class="col-lg-4">
			  <img class="thumbnail" src="{%static 'images/6.jpeg' %}"><br></br>
		       <div class="box-element product">
				   <strong>Product: Jumpsuite</strong>
				   <p>Size: Small</p>
				   <strong>In Stock</strong>
				   <em><p>(delivery within Nairobi CBD)</em></p>
				   <button class="btn btn-outline-secondary add-btn">Add to cart</button>
				   <a class="btn btn-outline-success">View</a>
				   <h5 style="display: inline-block; float:right"><strong>Ksh. 300</strong></h5>
		       </div>
	      </div>
     </div>
{% endblock content %}