.thumbnail{
	height: 160px;
	width: 320px;
}

.{
	background-color:white;
	color: black;
}

.paragraph{
	margin-top: 10%;
	margin-bottom: 10%;
}

#cart-icon{
	height: 30px;
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

#cart-total{
	color:whitesmoke;

}