.thumbnail{
	height: 210px;
	width: 210px;
}

body{
	background-color:white;
	color: black;
	font-size: 14px;
}

h5{
	margin-bottom: 50px;
}

.paragraph{
	margin-top: 10%;
	margin-bottom: 10%;
}

#cart-icon{
	height: 30px;
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

#cart-total{
	color:whitesmoke;

}

blockquote{
	margin: 50px, 50px, 50px, 50px, !important;
}

button::onhover{
	background-color: hotpink;
}